<!DOCTYPE html>
<html lang="de">
  <.head {assigns} />
  <body class="full-width">
    <.header {assigns} />
    <main role="main" class="full-width-container">
      <.flash_group flash={@flash} />
      {@inner_content}
    </main>
    <.small_footer />
  </body>
</html>
