<p>
  <a href="https://prototypefund.de">
    <.svg_image name="logo-prototype" class="footer-logo" alt="Prototype Fund" />
  </a>
  <a href="https://www.bmbf.de/">
    <.svg_image
      name="logo-bmbf"
      class="footer-logo"
      alt="Bundesministeriums für Bildung und Forschung"
    />
  </a>
</p>
