<Layouts.app flash={@flash}>
  <h1>Impressum</h1>

  <p>
    Bodo Tasche<br/>
    c/o IP-Management #4518<br/>
    Ludwig-Erhard-Str. 18<br/>
    20459 Hamburg
  </p>

  <p>
    <a href="tel:+493041728894">+49 30 41728894</a>
  </p>

  <p>
    <a href="mailto:mail@hierbautberlin.de">mail@hierbautberlin.de</a>
  </p>
</Layouts.app>
