<h3 class="details--content--title"><%= @detail_item.geo_street.name %> <%= @detail_item.number %></h3>

<%= live_component @socket, HierbautberlinWeb.Components.NewsItemsList, news_items: @detail_item.news_items %>
