Hi,

Es gibt neue Einträge, die zu deinen Benachrichtigungen passen:

<%= for item <- @items do %>
  <%= item.title %>

  https://beta.hierbautberlin.de/map/?details=<%= item.id %>">

<% end %>

Du kannst deine Benachrichtigungen jederzeit hier ändern:

https://beta.hierbautberlin.de/users/subscriptions
