<p>
  Hi,
</p>

<p>
  Es gibt neue Einträge, die zu deinen Benachrichtigungen passen:
</p>

<ul>
<%= for item <- @items do %>
  <li><a href="https://beta.hierbautberlin.de/map/?details=<%= item.id %>"><%= item.title %></a></li>
<% end %>
</ul>

<p>
  Du kannst deine Benachrichtigungen jederzeit <a href="https://beta.hierbautberlin.de/users/subscriptions">hier</a> ändern.
</p>
