.map--container {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #E6E4E0;
}

.map--container--tiles {
  width: 100%;
  height: 100%;
}

.map--item-list-wrapper {
  z-index: 101;
  position: absolute;
  top: 6rem;
  right: 2rem;
  height: calc(100vh - 10rem);
  width: 40rem;
  background-color: white;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
}

.map--item-list {
  height: 100%;
  overflow: auto;
  list-style: none;
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}

.map--item-list-footer {
  border-top: 1px solid var(--light-text-color);
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map--item-list-footer--subscribe {
  font-size: 0.8em;
  padding: 0 1rem;
  
  form {
    margin: 0;
  }
}

.map--item-list-footer--register {
  font-size: 0.8em;
}

.map--item-list-footer--impressum {
  text-align: center;
  font-size: 0.8em;
  color: var(--light-text-color);
  a {
    color: var(--light-text-color);
  }
}

.map--item-list--item {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 2rem;
  padding-top: 1rem;
  cursor: pointer;
}

.map--item-list--item--header {
  overflow: hidden;
  font-size: 1em;
  letter-spacing: 0;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  
  a {
    color: black;
  }
}

.map--item-list--item--subtitle {
  margin-top: -1rem;
  overflow: hidden;
  font-size: 1em;
  letter-spacing: 0;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.map--item-list--item--description {
  overflow: hidden;
  font-size: 1em;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media only screen and (max-width: 50em) {
  .map--item-list-wrapper {
    position: absolute;
    left: 2rem;
    top: 45vh;
    bottom: 1em;
    width: auto;
    height: auto;
  }

  .map--item-list {
    height: auto;
    overflow: scroll;
  }
}
