.pdfviewer--name {
  text-align: center;
}

.pdfviewer--topbar {
  display: flex;
  justify-content: space-between;

}

.pdfviewer--wrapper {
  position: relative;
}

.pdfviewer--canvas {
  width: 100%;
}

.pdfviewer--text {
  position: absolute;
  text-align: initial;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

.pdfviewer--text span,
.pdfviewer--text br {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.pdfviewer--text .highlight {
  margin: -1px;
  padding: 1px;
  background-color: rgba(180, 0, 170, 1);
  border-radius: 4px;
}

.pdfviewer--text .highlight.appended {
  position: initial;
}

.pdfviewer--text .highlight.begin {
  border-radius: 4px 0 0 4px;
}

.pdfviewer--text .highlight.end {
  border-radius: 0 4px 4px 0;
}

.pdfviewer--text .highlight.middle {
  border-radius: 0;
}

.pdfviewer--text .highlight.selected {
  background-color: rgba(0, 100, 0, 1);
}

.pdfviewer--text ::selection {
  background: rgba(0, 0, 255, 1);
}

.pdfviewer--text .endOfContent {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: default;
  user-select: none;
}

.pdfviewer--text .endOfContent.active {
  top: 0;
}