<Layouts.app flash={@flash}>
  <h1>Bestätigungsanweisungen erneut senden</h1>

  <.form :let={f} for={@form} action={~p"/users/confirm"}>
    <.input field={f[:email]} type="email" label="Email" required />
    <HierbautberlinWeb.FormProtection.form_protection_fields />

    <div>
      <button type="submit">Bestätigungsanweisungen erneut senden</button>
    </div>
  </.form>

  <p>
    <.link href={~p"/users/register"}>Registrieren</.link> |
    <.link href={~p"/users/log_in"}>Anmelden</.link>
  </p>
</Layouts.app>
