@import 'focus.scss';
@import 'colors.scss';
@import './fonts/inter';
@import './components/index';
@import './pages/index';
@import 'milligram';

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
  grid-area: main;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.live-wrapper {
  grid-area: main;
}

.live-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2.8em;
  box-shadow: 0px 31px 30px rgba(0, 0, 0, 0.07), 0px 21.3066px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 11.3915px 17.869px rgba(0, 0, 0, 0.0417275), 0px 6.38599px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.39155px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.4113px 2.21381px rgba(0, 0, 0, 0.0196802);
  z-index: 1;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/** Prevent zoom on ios if clicking in input fields */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.layout {
  width: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows:
    auto
    1fr
    auto;
  min-height: 100vh;
}

@media screen and (max-width: 50rem) {
  .container {
    margin-top: 6rem;
  }
}