header {
  background-color:  white;
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: flex-end;
      margin-right: 3rem;
      margin-bottom: 0;

      li {
        padding: 1rem 0 0rem 3rem;
      }
    }
  }
}

.header--logo {
  display: flex;
  align-items: center;
  color: black;
}

.header--logo--image {
  margin: 0 0.7rem 0 2rem;
  width: 32px;
  height: 32px;
}

