<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hierbautberlin", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>
    <script>Bugsnag.start({ apiKey: '68d18513cd64891ed5b4d409575effa0' })</script>
  </head>
  <body>
    <header>
      <a href="/" class="header--logo">
        <img src="/images/hierbautberlin.png" class="header--logo--image" alt="Ein Berliner Bär mit einem Arbeitshelm.">
        Hier Baut Berlin
      </a>
      <nav role="navigation">
        <%= render "_user_menu.html", assigns %>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
